[submodule "extern/rl-mpc-locomotion"]
	path = extern/rl-mpc-locomotion
	url = https://github.com/Vaibhav-Raheja/rl-mpc-locomotion.git
[submodule "extern/tmux"]
	path = extern/tmux
	url = https://github.com/tmux/tmux.git
